body {
    display: flex;
    font-family: sans-serif;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1603799438754-aa77123d8585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1246&q=80");
    background-size: cover;
    overflow: hidden;
    
}
h2
{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    /* text-align: center; */
}
.clock
{
    display: flex;
}
.clock div
{
    margin: 5px;
    position: relative;
}
.clock span
{
    width: 100px;
    height: 80px;
    background-color: black;
    opacity: .9;
    color: white;
    display: flex;   
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text
{
    height: 30px ;
   font-size: 15px; 
   background-color:red ;
   text-transform: uppercase;
   letter-spacing: 2px;
   opacity: 0.8;
}
.clock .ampm
{
    bottom: 0pc;
    position:absolute ;
    height: 30px;
    font-size: 18px;
    width: 70px;
    text-transform: uppercase;
    
    
}
